extends layout

include mixins/_ideaForm

block content
    .content
        img(src="/images/figment-icon.svg", alt="Figment")
        h1 Add an idea &amp; inspire the world
        +ideaForm(idea)
        