extends layout

include mixins/_ideaCard

block content 
    .admin_dashboard_user_container
        .card
            .single_card
                .avatar(style=`background-image: url('/uploads/${user.photo}')`)
                form(action=`/admin/${user._id}/edit` method='POST')
                    label(for='name') name
                    input(type='text' name='name' value=user.name)
                    label(for='email') email
                    input(type='email' name='email' value=user.email)
                    if user.level === 10
                        select(name="level")
                            option(value="0") User
                            option(value="10" selected) Admin
                    else
                        select(name="level")
                            option(value="0" selected) User
                            option(value="10") Admin
                    input(type='submit' value='Save')

    - const admin = true;
    each userIdea in userIdeas
        +ideaCard(userIdea, false, admin)
