extends layout

include mixins/_userCard
include mixins/_ideaCard
include mixins/_pagination

block content
    
    .content
        .user_container
            +userCard(user, null)

        .idea_container
            each idea in ideas
                if idea.visible
                    +ideaCard(idea, false, false)
            
            .pagination_container
                if ideas > 0
                    +pagination(currentPage, totalPages, count)

            