extends layout

include mixins/_userCard
include mixins/_ideaCard
include mixins/_pagination

block content
    
    .content
        .user_container
            +userCard(user, null)

        .idea_container
            each idea in ideas
                +ideaCard(idea, false)
            
            .pagination_container
                +pagination(currentPage, totalPages, count)

            