extends layout

include mixins/_userCard
include mixins/_ideaCard

block content
    
    .content
        .user_container
            +userCard(user)

        .idea_container
            each idea in ideas
                +ideaCard(idea)
            