doctype html 
html
    head
        title= title
        link(rel="stylesheet", href="/dist/style.bundle.css")
        link(href='https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:300,300i,700', rel='stylesheet')

    body
        .wrapper
            if user        
                .nav
                    a(href="/")
                        img(src="/images/figment-logo.svg", alt="Figment").logo
                    a(href="/") Home
                    a(href="/") Ideas
                    a(href="/") Artical
                    a(href="/inspiration") Inspiration
                                       
                a(href="/account").account
                    .avatar.nav_avatar(style=`background-image: url('/uploads/${user.photo}')`)

                a(href="/ideas/add").icon
                    img(src='/images/icons/add_idea.svg' alt='add idea')


            .messages 
                if locals.messages
                    each type in Object.keys(messages)
                        each message in messages[type]
                            .alert #{message}
                            
            block content

            block scripts
                script(src='/dist/app.bundle.js')