doctype html 
html
    head
        title= title
        link(rel="stylesheet", href="/dist/style.bundle.css")
        link(href='https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:300,300i,700', rel='stylesheet')

    body
        if user
            .search
                img(src="/images/icons/cross.svg", alt="exit").exit_icon
                input(type="text" name="search" placeholder="Search Figment..")
                .search_results                

            a(href="/readinglist")
                .reading_list
                    p.reading_list_counter= user.readingList.length
                    img(src="/images/icons/readinglist.svg", alt="Reading list").readinglist_icon

        .wrapper
            if user     
                .nav
                    .nav_up
                        a(href="/").logo_container
                            img(src="/images/figment-logov3.svg", alt="Figment")
                        .functions
                            img(src="/images/icons/search.svg", alt="Search").search_icon
                            a(href="/account").account
                                .avatar.nav_avatar(style=`background-image: url('/uploads/${user.photo}')`)
                    .nav_low
                        .nav_container
                            a(href="/") Home
                            a(href="/") Ideas
                            a(href="/") Artical
                            a(href="/inspiration") Inspiration
                
            .messages 
                if locals.messages
                    each type in Object.keys(messages)
                        each message in messages[type]
                            .alert #{message}
                            
            block content

            block scripts
                script(src='/dist/app.bundle.js')