doctype html 
html
    head
        title= title
        link(rel="stylesheet", href="/dist/style.bundle.css")

    body
        .messages 
            if locals.messages
                each type in Object.keys(messages)
                    each message in messages[type]
                        .alert #{message}
                        
        block content

        block scripts
            script(src='/dist/app.bundle.js')