extends layout

include mixins/_loginForm
include mixins/_forgotPassword

block content
    .login_container
        img(src="/images/figment-icon.svg", alt="Figment").logo
        .card
            .login_card
                .login_content_container 
                    h1= title
                    +loginForm()
                    .login_info
                        a(href="/register") Register
                        a(href="/forgot-password") Forgot password
                    //- +forgotPassword()