extends layout

include mixins/_ideaCard

block content
    .full_width_card
        if ideas.length <= 0
            a(href='/')
                h1 add ideas to reading list.. 

        each idea in ideas 
            +ideaCard(idea)
        