extends layout

include mixins/_ideaCard
include mixins/_userCard

block content
    +userCard(user, userProfile)

    each userIdea in userIdeas
        if idea.visible 
            +ideaCard(userIdea, false, false)