mixin userCard(user = {})
    if user
        .card
            .user_card
                .avatar(style=`background-image: url('/uploads/${user.photo}')`)
                h2= user.name
                p.subtitle= user.about

                .user_data
                    .thinkers
                        h3 230
                        p.subtitle thinkers
                    .ideas
                        h3= userIdeasTotal
                        p.subtitle ideas