mixin userCard()
    .card
        .user_card
            img(src="/images/photos/avatar.jpg").avatar
            h2 Theresa Dao
            p.subtitle Creative thinker
            .user_data
                .thinkers
                    h3 230
                    p.subtitle thinkers
                .ideas
                    h3 76
                    p.subtitle ideas