.avatar {
    background-repeat: no-repeat;
    background-position: 60%;
    border-radius: 50%;
    background-size: 150%;
    width: 200px;
    height: 200px;
}

.nav_avatar {
    width: 50px;
    height: 50px;
    background-size: 150%;
    padding: 1em;
    border-block-start: 10px;
    border: 3px solid $secondary;
    position: fixed;
    top: 1em;
    right: 1em;
}