.user_card, .idea_card, .login_card {
    background-color: #fff;
    border-radius: 1.7em;
    box-shadow: $shadow;
}


.user_card {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 4em;
    background: linear-gradient($brand, $brand 6%, white 6%, white 51%);  
    .avatar {
        width: 200px;
        height: 200px;
    }   
    .user_data {
        display: flex;
        width: 100%;
        margin-top: 4em;
        border-top: 1px solid $border;
        .thinkers, .ideas {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding: 1em;
        }
        .thinkers {
            border-right: 1px solid $border;
        }
    }
    .subtitle {
        width: 80%;
    }
}

.idea_card {
    margin-bottom: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid $brand;
    .image {
        width: 100%;
        height: 14em;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        background-repeat: no-repeat; 
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .user_info {
            width: 80%;
            display: flex;
            .avatar {
                width: 100px;
                height: 100px;
            }
            .user_info_text_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: -.9em 0 0 2em;
                h2 {
                    color: white;
                    font-weight: lighter;
                    font-size: 1.3em;
                    margin-bottom: .1em;
                }
                p {
                    text-align: left;
                }
            }
        }
    }
    .text_container {
        width: 80%;
        margin-bottom: 3.5em;
        p {
            margin-top: 2em;
            column-count: 2;
            column-gap: 3em;
            text-align: justify;
        }
    }
    .icon_container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 3.8em;
        margin: 0 -2em -.8em 0;
        button {
            background: transparent;
            border: none;
            &:active, 
            &:focus {
                outline: 0;
                box-shadow: 0;
            }
        }
        .add_to_reading_list {
            width: 4em;
            height: 4em;
            border-radius: 100%;
            background-color: $brand;
            cursor: pointer;
        }
        .add_to_reading_list_active {
            background-image: url('/images/icons/add_idea_plus.svg');
        }
        .add_to_reading_list_remove {
            background-image: url('/images/icons/remove_idea.svg');
        }
    }
}

.login_card {
    height: 35em;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login_content_container {
        width: 70%;
        display: flex;
        flex-direction: column;
        h1 {
            color: $main_grey;
            font-family: 'Playfair Display', serif;
            margin: 0 0 1em 0;
            text-align: center;
        }
        .login_info {
            margin-top: 2em;
            display: flex;
            justify-content: center;
            a {
                color: $secondary_grey;
                text-decoration: none;
                &:last-child {
                    margin-left: 2em;
                }
            }
        }
    }
}
