* {
    box-sizing: border-box;
}

body {
    background: $blue;
}

.wrapper {
    width: 1120px;
    max-width: 90%;
    margin: 0 auto;
}

.content {
    display: flex;
    margin-top: 6em;
    // background: green;
    .user_container {
        // background: blue;
        flex: 1.1;
    }
    .idea_container {
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 3;
        margin-left: 6em;
    }
}

