.auth_container {
    background: url(/images/pattern.svg), linear-gradient($brand, $brand);
    background-size: 60%;
}

.login_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 5%;
        margin-bottom: 2em;
    }
}