.nav {
  .nav_up {
    background: $brand;
    margin-top: 2em;
    padding: 0.7em 2em;
    border-top-left-radius: 1.7em;
    border-top-right-radius: 1.7em;
    display: flex;
    justify-content: space-between;
    .logo_container {
      width: 125px;
    }
    .functions {
      display: flex;
      width: 6em;
      align-items: center;
      justify-content: space-between;
      .nav_avatar {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 170%;
        width: 40px;
        height: 40px;
        border: 2px solid white;
      }
    }
  }
  .nav_low {
    background: white;
    padding: 1.2em 2em;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 1.7em;
    border-bottom-right-radius: 1.7em;
    .nav_container {
      width: 70%;
      display: flex;
      justify-content: space-between;
      a {
        color: $secondary_grey;
        letter-spacing: 0.1px;
        &:active {
          color: $brand;
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.lower_nav {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: flex-end;
  .reading_list {
    width: 4em;
    height: 4em;
    background: $brand;
    padding: 1.25em 1em 1em 1em;
    border-radius: 100%;
    position: relative;
    box-shadow: 2px -1px 54px -7px rgba(0, 0, 0, 0.3);
    &:active {
      transform: scale(.95);
    }
    p {
      color: $brand;
      font-size: 1.2em;
      font-weight: bold;
      position: absolute;
      top: -.7em;
      left: -.3em;
      background: white;
      border: 2px solid $brand;
      text-align: center;
      width: 1.6em;
      height: 1.6em;
      padding-top: 0.1em;
      border-radius: 100%;
    }
  }
}

.scale_animate {
  animation: scale;
  animation-duration: .2s;
}
